<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome <%= title %> </title>
    <link rel="stylesheet" href="/style.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

        <div class="box">
            <p class="lead mb-3">Welcome <%= user.name %></p>

        <form action="/tasks" method="POST">
            <p>Enter activity : <input type="text" name="text" placeholder="Meeting at 5:30" id="text" > <input class="btn-success" type="submit" value="Add" id="add"></p>
            
        </form>
            <div class="to_do" id="to_do">
                <% var filtered_tasks = tasks.filter(function (el) { %>
                   <% return el != null; %>
                  <% }) %> 
                <% if(filtered_tasks.length>0) { %>
                    <% tasks.forEach(task =>{ %>
                        <p class="list-styling" id="list-styling"><%= task.text %>  <button class="btn btn-danger btn-sm hover btn-primary" data-toggle="tooltip" data-placement="bottom" title="Delete Task"><a class="delete" data-doc="<%= task._id %> ">Delete</a></button> </p>
                    <% }) %>
                    <% }else{ %>
                        <p>No Tasks Yet!!!</p>
                    <% } %> 
            </div>
            <a href="/users/logout" class="btn btn-secondary">Logout</a>
    </div>
    
    <script>
        // add eventlistener to all delete buttons
        document.querySelectorAll('a.delete').forEach(delButton => {
            delButton.addEventListener('click', (e) => {
                //console.log(delButton.dataset.doc);
                const task_id = `/tasks/${delButton.dataset.doc}`;
                fetch(task_id, {
                    method: 'DELETE'
                }).then((response) => response.json()).then((data) => window.location.href = data.redirect).catch(err => { console.log(err); });
            });
        });
        // const del = document.querySelector('a.delete');
        // del.addEventListener('click',(event)=>{
        //     //need to add delete logic at user end
        //     const task_id = `/tasks/${del.dataset.doc}`;
        //     fetch(task_id,{
        //         method : 'DELETE'
        //     }).then((response)=>response.json()).then((data)=>window.location.href = data.redirect).catch(err=>{console.log(err);});
        // });

    </script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>
</html>
